{% extends 'app.twig' %}
{% block head %}
    <link href="{{ asset('drivers_show.css', 'css') }}" rel="stylesheet">
    <title>H5L - {{ driver.name }}</title>
{% endblock %}
{% block content %}
<div>
    <div class="container mx-auto" >
        <div class="driverHeader w-full rounded-t-lg shadow-2xl flex flex-row">
            <div class="w-full lg:w-3/5 flex flex-col justify-between">
                <div class="topLine flex flex-col justify-between items-center">
                    <div class="w-full font-bold text-5xl text-white text-center md:text-left">{{ driver.name }}</div>
                    <div class="text-left w-full mt-5">
                        <div class="flex justify-center md:justify-start">
                            <svg class="w-8 h-8 fill-current {% if driver.uses_steering_wheel %}text-gray-700 {% else %} text-gray-200 {% endif %}" xmlns="http://www.w3.org/2000/svg" width="30" viewBox="0 0 321.145 321.145">
                                <path d="M320.973 200.981c-.8-18.4-4-38.8-8.8-58-4.8-18.4-10.8-35.6-18-48.8-28-49.2-58.4-41.6-94.8-32-11.6 2.8-24 6-36.8 7.2h-4c-12.8-1.2-25.2-4.4-36.8-7.2-36.4-9.2-66.8-17.2-94.8 32.4-7.2 13.2-13.6 30.4-18 48.8-4.8 19.2-8 39.6-8.8 58-.8 20.4 1.2 35.2 5.6 45.6 4.4 9.6 10.8 15.6 19.2 18 7.6 2 16.4 1.2 25.6-2.8 15.6-6.4 33.6-20 51.2-36.4 12.4-12 35.6-18 58.8-18s46.4 6 58.8 18c17.6 16.4 35.6 30 51.2 36.4 9.2 3.6 18 4.8 25.6 2.8 8-2.4 14.8-8 19.2-18.4 4.4-10 6.4-24.8 5.6-45.6zm-19.2 40c-2.4 5.6-5.6 8.8-9.6 10-4.4 1.2-10 .4-16.4-2-14-5.6-30.4-18-46.4-33.2-15.2-15.2-42-22.8-68.8-22.8s-53.6 7.6-69.2 22c-16.4 15.2-32.8 28-46.4 33.2-6.4 2.4-12 3.6-16.4 2-4-1.2-7.2-4.4-9.6-10-3.2-7.6-4.8-20-4-38.4.8-17.2 3.6-36.8 8.4-55.2 4.4-17.2 10-33.2 16.8-45.2 22-39.6 47.6-33.2 78-25.2 12.4 3.2 25.2 6.4 39.2 7.6h6c14.4-1.2 27.2-4.4 39.6-7.6 30.4-7.6 56-14.4 78 25.2 6.8 12 12.4 27.6 16.8 45.2 4.4 18.4 7.6 37.6 8.4 55.2.8 18.4-.8 30.8-4.4 39.2z"/><path d="M123.773 122.981c-4-3.6-8.8-6.4-14.4-6.8-.4-5.2-2.8-10.4-6.4-14l-.4-.4c-4.4-4.4-10-6.8-16.4-6.8-6.4 0-12.4 2.8-16.4 6.8-3.6 3.6-6.4 8.8-6.8 14.4-5.6.4-10.4 2.8-14.4 6.4l-.4.4c-4.4 4.4-6.8 10-6.8 16.4 0 6.4 2.8 12.4 6.8 16.4 4 4 8.8 6.4 14.8 6.8.4 5.6 2.8 10.8 6.8 14.4 4.4 4.4 10 6.8 16.4 6.8 6.4 0 12.4-2.8 16.4-6.8 3.6-4 6.4-8.8 6.8-14.4 5.6-.4 10.8-2.8 14.4-6.8 4.4-4.4 6.8-10 6.8-16.4 file:///C:/Users/Gregor/Downloads/steering-wheel(2).svg0-6.4-2.8-12.4-6.8-16.4zm-10 22.4c-1.6 1.6-3.6 2.4-6 2.4h-5.6c-4 0-7.6 3.2-7.6 7.6v5.2c0 2.4-.8 4.4-2.4 6-1.6 1.6-3.6 2.4-6 2.4s-4.4-.8-6-2.4c-1.6-1.6-2.4-3.6-2.4-6v-5.6c0-4-3.2-7.6-7.6-7.6h-5.6c-2.4 0-4.4-.8-6-2.4-1.2-1.2-2.4-3.2-2.4-5.6 0-2.4.8-4.4 2.4-6l.4-.4c1.6-1.2 3.6-2 5.6-2h5.6c4 0 7.6-3.2 7.6-7.6v-5.6c0-2.4.8-4.4 2.4-6 1.6-1.6 3.6-2.4 6-2.4s4.4.8 6 2.4l.4.4c1.2 1.6 2 3.6 2 5.6v5.6c0 4 3.2 7.6 7.6 7.6h5.6c2.4 0 4.4.8 6 2.4 1.6 1.6 2.4 3.6 2.4 6s-.8 4.4-2.4 6z"/><circle cx="230.173" cy="110.981" r="14"/><circle cx="230.173" cy="167.781" r="14"/><circle cx="201.773" cy="139.381" r="14"/><circle cx="258.573" cy="139.381" r="14"/>
                            </svg>
                            <svg class="ml-6 w-8 h-8 fill-current {% if driver.uses_steering_wheel %}text-gray-400 {% else %} text-gray-700 {% endif %}" xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 0 333334 333334" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"><path d="M166667 0c92048 0 166667 74619 166667 166667s-74619 166667-166667 166667S0 258715 0 166667 74619 0 166667 0zm-725 167108c4762 0 8622 3860 8622 8622s-3860 8622-8622 8622c-4761 0-8622-3860-8622-8622 0-4761 3860-8622 8622-8622zm81-22581c17185 0 31115 13930 31115 31115s-13931 31115-31115 31115-31115-13930-31115-31115c0-17184 13931-31115 31115-31115zM40099 120914c12063-33398 36688-61585 67552-75980 42409-19779 93877-21012 137492 11247 25712 19017 35109 34615 47922 62265 9725 24508 1737 32467-29485 18712-64523-31927-129762-30501-195627 0-24311 15873-37947 2623-27854-16244zm165795 174900c45075-14185 71405-42884 87533-79480 10500-28297-22402-37883-33963-19257-6918 13727-15152 25487-25919 34631-16819 14284-41176 16895-44970 43843-1973 14015 1220 26578 17318 20263zm-77693 0c-45075-14185-71405-42884-87534-79480-10500-28297 22402-37883 33963-19257 6918 13727 15152 25487 25919 34631 16819 14284 41176 16895 44969 43843 1974 14015-1219 26578-17317 20263z"/></svg>
                        </div>
                    </div>
                </div>
                <p class="text-2xl text-center md:text-left uppercase shadow-3xl py-5 text-gray-500 lg:hidden" style="-webkit-text-stroke-color: {{ team.color }}"># {{ driver.carNumber }}</p>
                <hr class="mt-8 md:hidden border-2" :style="{ borderColor: driver.results.data[0].driver.team.color }">
                <div class="bottomLine mt-16 md:mt-20 w-full md:w-3/5 flex justify-between sm:px-12 md:p-0">
                    <div class="fact flex flex-col items-center">
                        <div class="factTitle text-lg">Platzierung</div>
                            {% if driver.position %}
                            <div class="factContent font-bold text-3xl"># {{ driver.position }}</div>
                            {% else %}
                                <div class="factContent font-bold text-3xl">-</div>
                            {% endif %}
                        </div>
                    <div class="fact flex flex-col items-center">
                        <div class="factTitle text-lg">Punkte</div>
                        {% if driver.position %}
                        <div class="factContent font-bold text-3xl">{{ driver.points }}</div>
                        {% else %}
                            <div class="factContent font-bold text-3xl">-</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="w-2/5 hidden lg:block self-center">
                {% if driver.carNumber %}
                <div class="carNumber uppercase shadow-3xl" style="color: {{ team.color }}"># {{ driver.carNumber }}</div>
                {% else %}
                <div class="carNumber uppercase shadow-3xl" style="color: {{ team.color }}"></div>
                {% endif %}
            </div>
        </div>
        <div class="driverContent p-5 md:p-10 lg:p-20 bg-white shadow-2xl">
            <h2 class="race_results text-3xl font-bold mt-5 md:mt-0 mb-8 pb-3 pl-10 border-b-2 border-l-2 border-gray-300 rounded-bl-lg">Rennergebnisse</h2>
              <div v-else class="bg-white my-6">
                <table class="text-center w-full"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
                  <thead>
                    <tr>
                        <th class="py-4 px-6 font-bold uppercase text-sm">Rennen</th>
                        <th class="py-4 px-6 font-bold uppercase text-sm hidden sm:table-cell">Datum</th>
                        <th class="py-4 px-6 font-bold uppercase text-sm">Position</th>
                        <th class="py-4 px-6 font-bold uppercase text-sm hidden sm:table-cell">Punkte</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% set lastResult = -99 %}
                    {% for result in results %}
                        {% if result.event.id != lastResult %}
                        <tr class="hover:bg-gray-100 w-full">
                            <td class="py-4 px-6"><a href="{{ path_for('events.show', {id: result.event.id}) }}"> {{ result.event.name }}</a></td>
                            <td class="py-4 px-6 hidden sm:table-cell">{{ result.event.planned_start | date("d.m.Y") }}</td>
                            {% if result.result_status %}
                                {% if result.grid %}
                                <td class="py-4 px-6">{{ result.position }} 
                                    {% if result.positions_gained > 4 %}
                                    <i class="ml-1 text-xs text-green-600 fa fa-angle-double-up" aria-hidden="true"></i> 
                                    {% elseif result.positions_gained > 0 %}
                                    <i class="ml-1 text-xs text-green-600 fa fa-angle-up" aria-hidden="true"></i>
                                    {% elseif result.positions_gained < -4 %}
                                    <i class="ml-1 text-xs text-red-600 fa fa-angle-double-down" aria-hidden="true"></i>
                                    {% elseif result.positions_gained < 0 %}
                                    <i class="ml-1 text-xs text-red-600 fa fa-angle-down" aria-hidden="true"></i>
                                    {% elseif result.positions_gained == 0 %}
                                    <i class="ml-1 text-xs text-gray-600 fa fa-angle-double-right" aria-hidden="true"></i>
                                    {% endif %}
                                    <span class="text-xs text-gray-600">{{ result.positions_gained | abs }}</span></td>
                                {% endif %}
                            {% endif %}
                            {% if result.result_status == 4 %}
                            <td class="text-gray-600 py-4 px-6 ">DSQ</td>
                            {% elseif result.result_status == 6 %}
                            <td class="text-gray-600 py-4 px-6 ">DNF</td>
                            {% elseif result.result_status == 3 %}
                            <td class="py-4 px-6 hidden sm:table-cell">{{ result.eventPoints }}</td>
                            {% endif %}
                        </tr>
                        {% set lastResult = result.event.id %}
                        {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
        </div>
    </div>
</div>
{% endblock %}