{% extends 'app.twig' %}
{% block head %}
    <link href="{{ asset('session_race.css', 'css') }}" rel="stylesheet">
{% if session.mainRace %}
    <title>H5L - Hauptrennen - {{ session.event.name }}</title>
{% elseif session.sprintRace %}
    <title>H5L - Sprintrennen - {{ session.event.name }}</title>
{% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %} 
{% block content %}
<div class="container mx-auto mb-10">
    <div class="header w-full md:rounded-t-lg shadow-2xl bg-contain flex flex-col" :style="cssVars">
      <div class="text-xl text-gray-600 mb-5 hidden md:flex">
        <div class="mr-10">
          {% if session.mainRace %}
          Hauptrennen
          {% elseif session.sprintRace %}
          Sprintrennen
          {% else %}
          Rennen
          {% endif %}
      </div>
  </div>
  <div class="topLine flex justify-between w-full items-center">
    <h2 class="font-bold text-center text-3xl sm:text-4xl md:text-5xl text-white">
      {{ session.event.name }}
  </h2>
</div>
<p class="py-5 text-3xl text-center sm:text-left  text-gray-500 md:hidden">{{ event.planned_start | date("d.m.Y") }}</p>
<hr class="mt-8 md:hidden border-2 border-blue-400">
<div class="bottomLine mt-16 md:mt-20 w-full flex flex-col md:flex-row justify-between sm:px-12 md:p-0">
    <div class="fact flex flex-col items-center mb-10 md:mb-0 ">
      <div class="factTitle text-lg">Sieger</div>
      {% for result in results %}
      {% if result.position == 1 %}
      <div class="factContent font-bold text-3xl">{{ result.driver.name }}</div>
      {% endif %}
      {% endfor %}
  </div>
  <div class="fact flex flex-col items-center mb-10 md:mb-0">
      <div class="factTitle text-lg">Pole</div>
      {% for result in results %}
      {% if result.grid == 1 %}
      <div class="factContent font-bold text-3xl">{{ result.driver.name }}</div>
      {% endif %}
      {% endfor %}
  </div>
  <div class="fact flex flex-col items-center mb-10">
      <img class="h-16" width="64px" src="{{ asset('weather/' ~ session.weather ~ '.svg', 'img') }}">
  </div>
  <div class="fact flex flex-col items-center md:mb-0">
      <div class="factTitle text-lg">Lufttemperatur</div>
      <div class="factContent font-bold text-3xl">{{ session.air_temp }}°C</div>
  </div>
</div>
<div id="rectangle" class="hidden bg-cover" ></div>
</div>
<div class="p-5 md:p-20 bg-white shadow-2xl">
  <div>
    <div class="race_results  pl-5 text-xl md:text-2xl font-bold  flex border-b-2 border-l-2 border-gray-300 rounded-bl-lg mt-5 md:mt-0 mb-8 pb-3 md:pl-10 justify-between lg:pr-5">
      <h2>Rennergebnis</h2>
  </div>
  <div class="bg-white my-6 mb-10">
      <table class="text-center w-full">
        <thead>
          <tr>
            <th class="py-4 px-6 font-bold uppercase text-sm">#</th>
            <th class="py-4 px-6 font-bold uppercase text-sm">Fahrer</th>
            <th class="py-4 px-6 font-bold uppercase hidden sm:table-cell text-sm">Team</th>
            <th class="py-4 px-6 font-bold uppercase text-sm hidden lg:table-cell">Rennzeit</th>
            <th class="py-4 px-6 font-bold uppercase text-sm hidden sm:table-cell">Punkte</th>
        </tr>
    </thead>
    <tbody>
      {% for result in results %}
      <tr id="resultRow" class="resultRow hover:bg-gray-100 w-full rounded-t-lg">
          {% if result.result_status == 3 or result.result_status == 2 %}
          <td class="py-4 px-6">{{ result.position }}</td>
          {% elseif result.result_status == 4 %}
          <td class="text-gray-600 py-4 px-6 ">DSQ</td>
          {% else %}
          <td class="text-gray-600 py-4 px-6 ">DNF</td>
          {% endif %}
          <td class="flex justify-between my-5 px-6 text-center">
            <div class="border-l-4" style="opacity: 0.39; border-color: {{ result.team.color }}"></div>
            <div class="text-center w-full">
              <a href="{{ path_for('drivers.show', { name: result.driver.short_name}) }}">
                {{ result.driver.name }}
            </a>
            {% if result.youtube %}
            <a target="_blank" href="{{result.youtube}}">
              <i class="ml-4 text-xl text-gray-400 hover:text-red-600 fab fa-youtube"></i>
          </a> 
          {% endif %}
      </div> 
  </td>
  <td class="py-4 px-6 hidden sm:table-cell">{{ result.team.name }}</td>
  {% if result.race_time.value %}
  <td class="py-4 px-6 hidden text-right lg:flex">
      <div class="w-1/2 self-center">
        {% if result.laps == result.sessionLaps %}
        {% if result.gapToWinner.value < 0 %}
        - {{ result.gapToWinner.string }}
        {% elseif result.gapToWinner.value > 0 %}
        + {{ result.gapToWinner.string }}
        {% else %}
        {{ result.race_time.string }} 
        {% endif %}
        {% else %}
        + {{ result.sessionLaps - result.laps }} R
        {% endif %}    
    </div>
    {% if result.penalties > 0 %}
    <div class="text-red-600 text-xs lowercase w-1/6 self-center">+ {{ result.penalties }}s</div>
    {% elseif result.penalties < 0 %}
    <div class="text-green-600 text-xs lowercase w-1/6 self-center">- {{ result.penalties | abs }}s</div>
    {% else %}
    <div class="text-red-600 text-xs lowercase w-1/6"></div>
</td>

{% endif %}
{% else %}
<td class="py-4 px-6 hidden lg:table-cell">-</td>
{% endif %}
<td class="py-4 px-6 hidden sm:table-cell">
    {{ result.points }}
</td>
</tr>
{% if result != null %}
<tr class="resultInfo hidden">
    <td colspan="5" class="p-0" >
      <div class="bg-gray-100 border-r-2 border-l-2 border-b-2 flex flex-col shadow-lg rounded-b-lg">
        <div class="flex flex-col items-center">
          {% if result.stints %}
          <div class="pt-4 flex w-full xl:w-5/6 px-10 xl:px-32">
              <div class="w-1/6 justify-center text-xs flex text-center uppercase text-gray-500 self-center">Reifen</div>
              <div class="w-2/6 justify-center text-xs flex text-center uppercase text-gray-500 self-center">Stint</div>
              <div class="w-2/6 justify-center text-xs flex text-center uppercase text-gray-500"><i class="fas fa-chart-bar text-blue-400 self-center"></i></div>
              <div class="w-1/6 justify-center text-xs flex text-center uppercase text-gray-500"><i class="fas fa-stopwatch text-blue-400 self-center"></i></i></div>
          </div>
          {% for stint in result.stints %}
          <div class="py-4 flex w-full xl:w-5/6 px-10 xl:px-32  border-b">
            <div class="w-1/6 lg:w-1/6 flex justify-center">
              <img class="w-8 h-8" src="{{ asset('tyres/' ~ stint.tyre ~ '.svg', 'img') }}" >
          </div>
          <div class="w-1/2 lg:w-2/6 justify-center flex">
              <div class="mr-4 text-gray-500 font-bold w-1/3 self-center -mr-6">
                {% if stint.begin == 0 %}
                <i class="text-green-600 fa fa-flag" aria-hidden="true"></i>
                {% else %}
                R {{ '%02d'| format(stint.begin) }}
                {% endif %}
            </div>
            <i class="fa fa-arrow-right self-center text-blue-600 w-1/3" aria-hidden="true"></i>
            <div class="ml-4 text-gray-500 font-bold self-center w-1/3 -ml-6">

                {% if result.result_status != 3 and stint.end == result.laps %}
                {{ ["DSQ", "", "DNF"][result.result_status - 4] }}
                {% elseif stint.end == result.laps %}
                <i class="fa fa-flag-checkered text-gray-800" aria-hidden="true"></i>
                {% else %}
                R {{ '%02d'| format(stint.end) }}
                {% endif %}
            </div>
        </div>
        <div class="w-2/6 flex hidden lg:flex justify-center">
          <div class="text-gray-600 uppercase self-center">{{ stint.averageTime }}</div>
      </div>
      <div class="w-2/6 lg:w-1/6 justify-center flex {% if not stint.pitstopTime %} hidden {% endif %} ">
          <div class="text-gray-600 self-center">{{ stint.pitstopTime }} s</div>
      </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="py-4 w-full px-10 xl:px-32 text-sm border-b-2 text-center uppercase text-gray-500">Keine Stints verfügbar</div>
  {% endif %}

</div>
</div>
</td>
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>
</div>
</div>
<div class="grid mb-10">
    <h2 class="race_results pl-5 text-xl md:text-2xl font-bold mt-5 md:mt-0 lg:mb-8 pb-3 md:pl-10 border-b-2 border-l-2 border-gray-300 rounded-bl-lg">Startaufstellung</h2>
    <div class="flex flex-row w-full mx-auto flex-wrap">
      <div class="flex flex-col w-full md:w-1/2">
        {% for result in grid %}
        {% if result.grid % 2 == 1 %}
        <div class="box-border flex flex-row starting-box mt-5 sm:mt-16 shadow-lg rounded-lg w-full sm:w-5/6 lg:w-3/4 text-center mx-auto border-gray-300">
          <div class="w-1/6 py-3 text-center font-bold bg-gray-200 text-gray-600 rounded-tl-lg flex h-full"><span class="m-auto">{{ result.grid }}</span ></div>
          <div style="opacity: 0.65; border-color: {{ result.team.color }}" class="w-5/6 py-3 flex border-l-4 rounded-tr-lg justify-between relative" >
            <div class="text-center flex justify-between w-5/6"><span class="ml-5 mr-2 text-center border-r-4" style="opacity: 0.5; border-color: {{ result.team.color }}"></span>
              <div class="w-full">
                <a href="{{ path_for('drivers.show', { name: result.driver.short_name}) }}">
                  {{ result.driver.name }}
              </a>
          </div> </div>
      </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
<div class="flex flex-col w-full md:w-1/2 md:mt-10">
  {% for result in grid %}
  {% if result.grid % 2 == 0 %}
  <div class="box-border flex flex-row starting-box mt-5 md:mt-16 shadow-lg rounded-lg w-full sm:w-5/6 lg:w-3/4 text-center mx-auto border-gray-300">
    <div class="w-1/6 py-3 text-center font-bold bg-gray-200 text-gray-600 rounded-tl-lg flex h-full"><span class="m-auto">{{ result.grid }}</span ></div>
    <div style="opacity: 0.65; border-color: {{ result.team.color }}" class="w-5/6 py-3 flex border-l-4 rounded-tr-lg justify-between relative" >
      <div class="text-center flex justify-between w-5/6"><span class="ml-5 mr-2 text-center border-r-4" style="opacity: 0.5; border-color: {{ result.team.color }}"></span>
        <div class="w-full">
          <a href="{{ path_for('drivers.show', { name: result.driver.short_name}) }}">
            {{ result.driver.name }}
        </a>
    </div> </div>
</div>
</div>
{% endif %}
{% endfor %}
</div>
</div>
</div>
<div>
    <div class="hidden md:flex race_results  pl-5 text-xl md:text-2xl font-bold  flex border-b-2 border-l-2 border-gray-300 rounded-bl-lg mt-5 md:mt-0 mb-8 pb-3 md:pl-10 justify-between lg:pr-5">
      <h2>Rundenzeiten</h2>
      <a id="laptimes"></a>
  </div>
  <div class="w-full h-100 mb-10 hidden md:flex">
    <div id="laptimesChart" class="w-full"></div>
  </div>
</div>
<div>
    <div class="hidden md:flex race_results  pl-5 text-xl md:text-2xl font-bold border-b-2 border-l-2 border-gray-300 rounded-bl-lg mt-5 md:mt-0 mb-8 pb-3 md:pl-10 justify-between lg:pr-5">
      <h2>Strafen</h2>
  </div>
  <div class="hidden md:flex  bg-white my-6 mb-10">
      <table class="text-center w-full">
        <thead>
          <tr>
            <th class="py-4 px-6 font-bold uppercase text-sm">#</th>
            <th class="py-4 px-6 font-bold uppercase text-sm">Fahrer</th>
            <th class="py-4 px-6 font-bold uppercase hidden sm:table-cell text-sm">Strafen</th>
        </tr>
    </thead>
    <tbody>
      {% for result in results %}
        {% set hasPen = false %}
        {% set reverted = false %}
        {% set stewards = false %}
        {% for penalty in penalties %}
          {% if penalty.driver_id == result.driver.id %}
            {% set hasPen = true %}
            {% if penalty.reverted %}
              {% set reverted = true %}
            {% elseif penalty.stewards %}
              {% set stewards = true %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% if hasPen %}
      <tr id="resultRow" class="resultRow hover:bg-gray-100 w-full rounded-t-lg">
        {% if result.result_status == 3 or result.result_status == 2 %}
        <td class="py-4 px-6">{{ result.position }}</td>
        {% elseif result.result_status == 4 %}
        <td class="text-gray-600 py-4 px-6 ">DSQ</td>
        {% else %}
        <td class="text-gray-600 py-4 px-6 ">DNF</td>
        {% endif %}
        <td class="flex justify-between my-5 px-6 text-center">
          <div class="border-l-4" style="opacity: 0.39; border-color: {{ result.team.color }}"></div>
          <div class="text-center w-full">
            <a href="{{ path_for('drivers.show', { name: result.driver.short_name}) }}">
              {{ result.driver.name }}
          </a>
          {% if result.youtube %}
          <a target="_blank" href="{{result.youtube}}">
            <i class="ml-4 text-xl text-gray-400 hover:text-red-600 fab fa-youtube"></i>
        </a> 
        {% endif %}
    </div> 
</td>
<td class="py-4 px-6 hidden sm:table-cell flex">
  {{ result.penalties }} s
  {% if reverted or stewards %}
  <i class="hidden md:inline-block ml-4 self-center text-blue-400 fas fa-exclamation-triangle"></i>
  {% endif %}
</td>
</tr>
<tr class="resultInfo hidden">
    <td colspan="5" class="p-0" >
      <div class="bg-gray-100 border-r-2 border-l-2 border-b-2 flex flex-col shadow-lg rounded-b-lg">
        <div class="flex flex-col items-center">
          <div class="pt-4 flex w-full px-10 xl:px-32">
            <div class="w-1/5 justify-center text-xs flex text-center uppercase text-gray-500 self-center">Runde</div>
            <div class="w-1/5 justify-center text-xs flex text-center uppercase text-gray-500 self-center">Typ</div>
            <div class="w-2/5 justify-center text-xs flex text-center uppercase text-gray-500 self-center">Vergehen</div>
            <div class="w-1/5 justify-center text-xs flex text-center uppercase text-gray-500 self-center">Strafe</div>
        </div>
        {% for penalty in penalties %}
        {% if penalty.driver_id == result.driver.id %}
        {% set hasPen = true %}
        <div class="py-4 flex w-full px-10 xl:px-32 border-b {% if penalty.reverted %} font-bold text-gray-400 line-through {% elseif penalty.stewards %} font-bold text-red-400 {% endif %} ">
          <div class="w-1/5 justify-center flex">
            {{ penalty.lap }}
        </div>
        <div class="w-1/5 flex hidden lg:flex justify-center">
            {{ penalty.penaltyString }}
        </div>
        <div class="w-2/5 flex hidden lg:flex justify-center">
            {{ penalty.infringementString }}
        </div>
        <div class="w-1/5 flex hidden lg:flex justify-center">
            {% if penalty.time > 0 %}
              {{ penalty.time }} s
            {% elseif penalty.time < 0 %}
              - {{ penalty.time }} s
            {% else %}
            -
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% if not hasPen %}
    {% endif %}


</div>
</div>
</td>
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>
</div>
<div class="hidden md:flex race_results  pl-5 text-xl md:text-2xl font-bold  flex border-b-2 border-l-2 border-gray-300 rounded-bl-lg mt-5 md:mt-0 mb-8 pb-3 md:pl-10 justify-between lg:pr-5">
    <h2>Statistik</h2>
</div>
<div class="hidden md:flex bg-white my-6 mb-10 mt-10">
    <div class="flex">
      <div class="w-1/2 text-center">
        <p>{{ session.track.name }}</p>
        <img class="w-full mt-4" src="{{ asset('tracks/' ~ session.track.id ~ '.png', 'img') }}">
    </div>
    <div class="w-1/2 flex flex-col px-10">
        <div class="flex w-full  justify-between">
          <div class="row text-center">
            <div>{{ session.start | date("H:i") }} Uhr</div>
            <div class="uppercase text-gray-500 text-sm">start</div>
        </div>
        <div class="text-center self-center flex">
            <i class="text-green-500 fas fa-angle-double-left self-center"></i>
            <div class="mx-4">{{ session.laps }} Runden</div>
            <i class="text-green-500 fas fa-angle-double-right self-center"></i>
        </div>
        <div class="row text-center">
            <div>{{ session.end | date("H:i") }} Uhr</div>
            <div class="uppercase text-gray-500 text-sm">Ende</div>
        </div>
    </div>
</div>
</div>
</div>
<div class="race_results  pl-5 text-xl md:text-2xl font-bold  flex border-b-2 border-l-2 border-gray-300 rounded-bl-lg mt-5 md:mt-0 mb-8 pb-3 md:pl-10 justify-between lg:pr-5">
    <h2>Wetter</h2>
</div>
<div class="flex justify-around mt-10 w-full flex-wrap">
    {% for weather in session.weatherData %}
    <div class="w-full md:w-64  flex flex-col justify-center items-center text-center bg-white">
        {% if loop.length > 1 %}
        <div class="mb-8 text-gray-600">Runde {{ weather.lap }}</div>
        {% endif %}
        <div class="w-32 h-32 flex items-center justify-center">
          <img class="h-32 w-64" width="64px" src="{{ asset('weather/' ~ weather.type ~ '.svg', 'img') }}">
      </div>
      <div class="text-3xl font-bold text-gray-900 my-6">
          {{ weather.air_temp }}º
          <span class="font-normal text-gray-700 mx-1">/</span>
          {{ weather.track_temp }}º
      </div>
  </div>
  {% if loop.index < loop.length %}
  <i class="hidden md:block fas fa-angle-double-right self-center text-2xl text-gray-400"></i>
  <i class="md:hidden fas fa-angle-double-down self-center text-2xl text-gray-400 my-5"></i>
  {% endif %}
  {% endfor %}
</div>
</div>

</div>

</div>
</div>
{% endblock %}
{% block script %}
<script>
    var dataIn = {{ chartData | json_encode | raw }};
    var sc = {{ scPhases | json_encode | raw }};
    var data = [];
    var scShapes = [];
    for (var i = sc.length - 1; i >= 0; i--) {
        var temp = 
        {
            type: 'rect',
            xref: 'x',
            yref: 'paper',
            x0: sc[i].begin,
            y0: 0,
            x1: sc[i].end,
            y1: 1,
            fillcolor: "#fcba03",
            opacity: 0.2,
            line: {
                width: 0
            }
        };
        scShapes.push(temp)
    }
    for (var i = dataIn.length - 1; i >= 0; i--) {
        var laps = Array.from(Array({{ chartInfo.laps | raw }}), (_, i) => i + 1);
        var temp = {
            x: laps,
            y: dataIn[i].data,
            visible: dataIn[i].visible,
            type: 'scatter',
            mode: 'lines+markers',
            line: {color: dataIn[i].borderColor},
            name: dataIn[i].label
        };
        data.push(temp)
    };

    var org_locale = Plotly.d3.locale;
    Plotly.d3.locale = (locale) => {
      var result = org_locale(locale);
      var org_number_format = result.numberFormat;
      result.numberFormat = (format) => {
        return (x) => {
            minutes = parseInt(x / 60).toString()
            seconds = parseInt(x % 60).toString().padStart(2, 0)
            ms = (parseInt((x % 1) * 1000)).toString().padStart(3, 0)
            stringTime = minutes + ":" + seconds + "." + ms
            return stringTime;
        }
      }
      return result;
    };

    CHART = document.getElementById('laptimesChart');

    var layout = {
        automargin: false,
        shapes: scShapes,
        scrollZoom: true,
        xaxis: {
            title: 'Runden',
            tickmode: "linear",
            range: [1,laps.length]
        },
        yaxis: {
            tickformat: 'laptimeString'
        },
        legend: {
            "orientation": "h",
            "x": 0.5,
            "y": 1.3,
            "yanchor": "auto",
            "xanchor": "center"
        }
    };

    var config = {
      displayModeBar: false
    };
    Plotly.newPlot(CHART, data, layout, config);
</script>
<script>
    var elements  = document.getElementsByClassName('resultRow');
    var infoElements  = document.getElementsByClassName('resultInfo');

    Array.from(elements).forEach(function(element) {
        element.addEventListener('click', function(){
            func(element)
        });
    });

    function func (el) {
        if (infoElements.length) {
            if (el.nextElementSibling.classList.contains('md:table-row')) {
                resetAll(); 
            } else {
                resetAll(); 
                el.classList.add("md:bg-gray-200", "md:border-t", "md:border-l", "md:border-r", "md:font-bold");
                el.nextElementSibling.classList.remove("hidden");
                el.nextElementSibling.classList.add("hidden", "md:table-row");
            }
        } 
    };

    function resetAll() {
        var infos = document.getElementsByClassName("resultInfo");
        var rows = document.getElementsByClassName("resultRow");

        for (var i = 0; i < infos.length; i++) {
            infos[i].classList.add("hidden");
            infos[i].classList.remove("md:table-row");
        } 

        for (var i = 0; i < rows.length; i++) {
            rows[i].classList.remove("md:bg-gray-200", "md:border-t", "md:border-l", "md:border-r", "md:font-bold");
            rows[i].classList.remove("md:bg-gray-100");
        } 
}

func(elements[0]);
</script>
{% endblock %}
