{% extends 'app.twig' %}
{% block head %}
    <link href="{{ asset('events_index.css', 'css') }}" rel="stylesheet">
    <title>H5L - Events</title>
{% endblock %} 
{% block content %}
    <div class="container mx-auto mt-20">
            {% for event in events %}    
                <a href="{{ path_for('events.show', {id: event.id}) }}">
                <div class="w-4/5 mx-auto flag flex bg-blue-200 hover:bg-blue-400 px-10 py-10 rounded-lg text-gray-100 shadow-lg mb-5 justify-between">
                        <div class="w-full lg:w-4/5 flex">
                            <div class="flex flex-col pr-10 border-r-4 border-blue-400 w-1/4 text-center">
                                <div class="text-xl lg:text-4xl">{{ event.planned_start | date("d. M", "Europe/Paris") }}</div>
                                <div class="text-sm tracking-wider text-center uppercase text-gray-600">{{ event.planned_start | date("H:i") }} Uhr</div>
                            </div>
                            <div class="pl-10 flex flex-col content-start">
                                <div class="text-sm mt-2 uppercase text-gray-600 content-start">{{ event.season.name }} {% if event.regular_event %}(Gewertetes Rennen) {% else %}(Ungewertetes Rennen){% endif %}</div>
                                <div class="text-3xl self-start">{{ event.name }}</div>
                                
                            </div>
                        </div>
                        <div class="hidden lg:flex mr-10">
                            <img class="w-20 self-center opacity-50" src="{{ asset('flags/' ~ event.track.country ~ '.svg', 'img') }}" alt="">
                        </div>
                     
                </div>
                </a>
            {% endfor %}
    </div>
{% endblock %}