{% extends 'app.twig' %}
{% block head %}
    <link href="{{ asset('races_show.css', 'css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container mx-auto mb-10">
        <div class="driverHeader w-full rounded-lg shadow-2xl bg-contain flex flex-col" :style="cssVars">
            <div class="text-xl text-gray-600 mb-5 hidden md:flex">
                <div class="mr-10">
                    {{ event.planned_start | date("d.m.Y") }} - {{ event.planned_start | date("H:i") }} Uhr
                </div>
            </div>
            <div class="topLine flex justify-between w-full items-center">
                <h2 class="font-bold text-center text-3xl sm:text-4xl md:text-5xl text-white">
                    {{event.name}}
                </h2>
            </div>
            <p class="py-5 text-3xl text-center sm:text-left  text-gray-500 md:hidden">{{ event.planned_start | date("d.m.Y") }}</p>
            <hr class="mt-8 md:hidden border-2 border-blue-400">
            <div class="uppercase text-gray-300 text-sm mt-10">Keine Ergebnisse</div>
        </div>
</div>

{% endblock %}
{% block script %}
<script>
    var elements  = document.getElementsByClassName('resultRow');
    var infoElements  = document.getElementsByClassName('resultInfo');

    Array.from(elements).forEach(function(element) {
        element.addEventListener('click', function(){
            func(element)
        });
    });

    function func (el) {
        if (infoElements.length) {
            if (el.nextElementSibling.classList.contains('md:table-row')) {
                resetAll(); 
            } else {
                resetAll(); 
                el.classList.add("md:bg-gray-200", "md:border-t", "md:border-l", "md:border-r", "md:font-bold");
                el.nextElementSibling.classList.remove("hidden");
                el.nextElementSibling.classList.add("hidden", "md:table-row");
            }
        }
    };

    function resetAll() {
        var infos = document.getElementsByClassName("resultInfo");
        var rows = document.getElementsByClassName("resultRow");

        for (var i = 0; i < infos.length; i++) {
          infos[i].classList.add("hidden");
          infos[i].classList.remove("md:table-row");
        } 

        for (var i = 0; i < rows.length; i++) {
            rows[i].classList.remove("md:bg-gray-200", "md:border-t", "md:border-l", "md:border-r", "md:font-bold");
            rows[i].classList.remove("md:bg-gray-100");
        } 
    }

    func(elements[0])



</script>

{% endblock %}
