{% extends 'app.twig' %}
{% block head %}
    <!-- <link href="{{ asset('auth.css', 'css') }}" rel="stylesheet"> -->
{% endblock %}
{% block content %}
<div class="w-full max-w-3xl container mx-auto">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="{{ path_for('admin.addPenalty', {session_id: session.id}) }}" method="POST">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="driver_id">
        Fahrer
      </label>
        <div class="inline-block relative w-full">
            <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading focus:outline-none focus:shadow-outline" id="driver_id" name="driver_id">
              <option selected disabled>---</option>
              {% for driver in drivers %}
                <option value="{{driver.id}}">{{ driver.name }}</option>
              {% endfor %}
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
        </div>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="lap">
        Runde
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" min="1" max="{{ session.laps }}" step="1" name="lap" id="lap" type="number" value="0">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="penalty_id">
        Typ
      </label>
        <div class="inline-block relative w-full">
            <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading focus:outline-none focus:shadow-outline" id="penalty_id" name="penalty_id">
              <option value="4" selected>Zeitstrafe</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
        </div>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="infringement_id">
        Vergehen
      </label>
        <div class="inline-block relative w-full">
            <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading focus:outline-none focus:shadow-outline" id="infringement_id" name="infringement_id">
              <option value="0">Blocking by slow driving</option>
              <option value="1">Blocking by wrong way driving</option>
              <option value="2">Reversing off the start line</option>
              <option value="3">Schwere Kollision</option>
              <option value="4">Leichte Kollision</option>
              <option value="5">Collision failed to hand back position single</option>
              <option value="6">Collision failed to hand back position multiple</option>
              <option value="7">Kurve geschnitten - Zeitgewinn</option>
              <option value="8">Unerlaubtes Überholmanöver</option>
              <option value="9">Mehrere unerlaubte Überholmanöver</option>
              <option value="10">Weiße Linie überfahren</option>
              <option value="11">Ignorieren blauer Flaggen</option>
              <option value="12">Ignorieren gelber Flaggen</option>
              <option value="13">Ignorieren einer Durchfahrtsstrafe</option>
              <option value="14">Zu viele Durchfahrtsstrafen</option>
              <option value="15">Drive through reminder serve within n laps</option>
              <option value="16">Drive through reminder serve this lap</option>
              <option value="17">Rasen in der Boxengasse</option>
              <option value="18">Parked for too long</option>
              <option value="19">Ignoring tyre regulations</option>
              <option value="20">Zu viele Strafen</option>
              <option value="21">Mehrere Vergehen</option>
              <option value="22">Approaching disqualification</option>
              <option value="23">Tyre regulations select single</option>
              <option value="24">Tyre regulations select multiple</option>
              <option value="25">Lap invalidated corner cutting</option>
              <option value="26">Lap invalidated running wide</option>
              <option value="27">Corner cutting ran wide gained time minor</option>
              <option value="28">Corner cutting ran wide gained time significant</option>
              <option value="29">Corner cutting ran wide gained time extreme</option>
              <option value="30">Lap invalidated wall riding</option>
              <option value="31">Lap invalidated flashback used</option>
              <option value="32">Lap invalidated reset to track</option>
              <option value="33">Blockieren der Boxengasse</option>
              <option value="34">Frühstart</option>
              <option value="35">Kollision mit dem Safety car</option>
              <option value="36">Unerlaubtes Überholen des Safety cars</option>
              <option value="37">Rasen unter SC</option>
              <option value="38">Rasen unter VSC</option>
              <option value="39">Formation lap below allowed speed</option>
              <option value="40">Retired mechanical failure</option>
              <option value="41">Retired terminally damaged</option>
              <option value="42">Safety car falling too far back</option>
              <option value="43">Black flag timer</option>
              <option value="44">Nicht absolvierte Stop Go</option>
              <option value="45">Nicht absolvierte Drive-Through</option>
              <option value="46">Engine component change</option>
              <option value="47">Gearbox change</option>
              <option value="48">League grid penalty</option>
              <option value="49">Retry penalty</option>
              <option value="50">Illegal time gain</option>
              <option value="51">Mandatory pitstop</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
        </div>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="time">
        Strafe (in Sekunden)
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" min="1" max="100" step="1" name="time" id="time" type="number" value="0">
    </div>
    <div class="mt-10">
      <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Strafe hinzufügen
      </button>
    </div>
    {{ csrf.field | raw }}
  </form>
</div>
<div class="w-full container mx-auto mt-10">
  <h1 class="text-3xl"></h1>
  <table class="table-auto w-full">
    <thead>
      <tr>
        <th class="px-4 py-2">Fahrer</th>
        <th class="px-4 py-2">Typ</th>
        <th class="px-4 py-2">Vergehen</th>
        <th class="px-4 py-2">Strafe</th>
      </tr>
    </thead>
    <tbody>
      {% for penalty in penalties %}
        <tr class="text-center">
          <td class="border px-4 py-2">{{ penalty.driver.name }}</td>
          <td class="border px-4 py-2">{{ penalty.penaltyString }}</td>
          <td class="border px-4 py-2">{{ penalty.infringementString }}</td>
          <td class="border px-4 py-2">{{ penalty.time }}</td>
          <td class="border px-4 py-2">
            {% if penalty.reverted %}
              <a href="{{ path_for('admin.validatePenalty', { id: penalty.id }) }}">
                <button class="text-center w-full bg-green-300 hover:bg-green-400 text-gray-800 font-bold py-2 px-4 rounded">
                  <span><b>GÜLTIG</b> erklären</span>
                </button>
              </a>
            {% else %}
              <a href="{{ path_for('admin.invalidatePenalty', { id: penalty.id }) }}">
                <button class="w-full bg-red-300 hover:bg-red-400 text-gray-800 font-bold py-2 px-4 rounded">
                  <span><b>NICHTIG</b> erklären</span>
                </button>
            </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}