{% extends 'app.twig' %}
{% block head %}
    <link href="{{ asset('races_show.css', 'css') }}" rel="stylesheet">
    <title>H5L - Tabelle</title>
{% endblock %}
{% block content %}
    <div class="container mx-auto mb-10">
        <div class="driverHeader w-full rounded-t-lg shadow-2xl bg-contain flex flex-col" :style="cssVars">
                <div class="topLine flex justify-between w-full items-center">
                    <h2 class="font-bold text-center text-3xl sm:text-4xl md:text-5xl text-white">
                        Tabelle
                    </h2>
                </div>
                <div id="rectangle" class="hidden bg-cover" ></div>
            </div>
        <div class="p-5 md:p-20 bg-white shadow-2xl">
        <div class="grid mb-10">
            <div class="flex flex-row w-full mx-auto flex-wrap">
                <div class="standings mb-10 w-full">
                    <div class="container md:container-sm mx-auto">
                        {% for standing in standings %}
                            <div class="box-border flex flex-row starting-box mt-5 w-full sm:w-5/6 lg:w-3/4 text-center mx-auto border-gray-300">
                                <div class="w-1/6 py-3 text-center border-2 font-bold bg-gray-300 text-gray-600 rounded-tl-lg rounded-bl-lg flex h-full"><span class="m-auto"> {{ standing.position }}</span ></div>
                                <div class="w-5/6 py-3 flex border-gray-300 border-2 rounded-tr-lg rounded-br-lg justify-between">
                                    <div class="text-center flex justify-between w-3/5"><span class=" hidden md:block ml-10 mr-2 text-center border-r-4" style="opacity: 0.5; border-color: {{ standing.team.color }}"></span><div class="w-full">

                                        <a href="{{ path_for('drivers.show', { name: standing.driver.short_name}) }}">
                                            {{standing.driver.name}}
                                        </a>
                                    </div></div>
                                    {% if standing.points == 1 %}
                                        <div class=" w-2/5 text-center text-gray-600">{{ standing.points }} Punkt</div>
                                    {% else %}
                                        <div class=" w-2/5 text-center text-gray-600">{{ standing.points }} Punkte</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}
